@if (isOpen()) {
  <div data-qa="modal" class="modal-overlay" (click)="onCancel()">
    <div class="modal" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>{{ title() }}</h3>
      </div>
      <hr class="separator">
      <div class="modal-content">
        <p>{{ message() }}</p>
      </div>
      <hr class="separator">
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button class="btn" 
              data-qa="confirm-delete-btn"
              [class.btn-primary]="!isDangerButton()"
              [class.btn-danger]="isDangerButton()"
              (click)="onConfirm()">
          {{ confirmButtonText() }}
        </button>
      </div>
    </div>
  </div>
}
  