@use '../../styles/variables.scss' as *;

.thresholds-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 24px;
  height: 100%;
  transition: grid-template-columns 0.3s ease;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
  }
}

.thresholds-container.single-column {
  grid-template-columns: 1fr;
}
